@model MEGATECH.Models.CustomerDetailsViewModel
@{
    ViewBag.Title = "Chi tiết khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="content">
    <div class="page-inner">
        <div class="page-header">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="page-title">Chi tiết khách hàng: @Model.TenKhachHang</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <ul class="breadcrumbs">
                            <li class="nav-home">
                                <a href="@Url.Action("Index", "Home")">
                                    <i class="flaticon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("KhachHang", "Order")">Danh sách khách hàng</a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">Xem chi tiết</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="text-info mb-3" style="font-weight: bold;">THÔNG TIN CHUNG</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-group-default">
                                        <label>Mã khách hàng</label>
                                        <span class="form-control">@Model.MaKhachHang</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-group-default">
                                        <label>Họ tên khách hàng</label>
                                        <span class="form-control">@Model.TenKhachHang</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-group-default">
                                        <label>Căn cước công dân/Chứng minh nhân dân</label>
                                        <span class="form-control">@Model.CCCD</span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label class="text-info mb-3" style="font-weight: bold;">DANH SÁCH HOÁ ĐƠN</label>
                                </div>
                                <div class="col-md-12">
                                    @if (Model != null)
                                    {
                                        int i = 1;
                                        <table class="display table table-striped table-hover table-bordered">
                                            <thead>
                                                <tr class="text-center">
                                                    <th>STT</th>
                                                    <th>Mã Hoá Đơn</th>
                                                    <th>Thời Gian Lập</th>
                                                    <th>Số Điện Thoại</th>
                                                    <th>Email</th>
                                                    <th>Địa Chỉ</th>
                                                    <th>Trạng thái</th>
                                                    <th>Chức năng</th>
                                                </tr>

                                            </thead>
                                            <tbody>
                                                @foreach (var hoaDon in Model.HoaDons)
                                                {
                                                    <tr class="text-center">
                                                        <td>@i</td>
                                                        <td>@hoaDon.MaHoaDon</td>
                                                        <td>@hoaDon.ThoiGianLap.ToString("dd'/'MM'/'yyyy")</td>
                                                        <td>@hoaDon.SoDienThoai</td>
                                                        <td>@hoaDon.Email</td>
                                                        <td>@hoaDon.DiaChi</td>
                                                        <td class="text-center">
                                                            @switch (@hoaDon.Status)
                                                            {
                                                                case 1:
                                                                    <span>Chờ thanh toán</span>
                                                                    break;
                                                                case 2:
                                                                    <span>Đã thanh toán</span>
                                                                    break;
                                                                case 3:
                                                                    <span>Đã huỷ</span>
                                                                    break;
                                                                default:
                                                                    <span>Không xác định</span>
                                                                    break;
                                                            }
                                                        </td>
                                                        <td>
                                                            <a href="/admin/order/Detail/@hoaDon.MaHoaDon" class="btn btn-xs btn-warning text-white"><i class="fa-solid fa-circle-info"></i></a>
                                                        </td>
                                                    </tr>
                                                    i++;
                                                }
                                            </tbody>
                                        </table>
                                    }
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <a href="@Url.Action("KhachHang", "Order")" class="btn btn-danger">Quay lại</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>