@model MEGATECH.Models.EF.ProductCategory
@{
    ViewBag.Title = "Chi tiết danh mục loại sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="content">
    <div class="page-inner">
        <div class="page-header">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="page-title">Chi tiết thông tin loại sản phẩm: @Model.Title</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <ul class="breadcrumbs">
                            <li class="nav-home">
                                <a href="@Url.Action("Index", "Home")">
                                    <i class="flaticon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "ProductCategory")">Danh sách loại sản phẩm</a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">Xem chi tiết</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-group-default">
                                        <label>Tên loại sản phẩm</label>
                                        <span class="form-control">@Model.Title</span>
                                    </div>
                                    <div class="form-group form-group-default">
                                        <label>Alias</label>
                                        <span class="form-control">@Model.Alias</span>
                                    </div>
                                    <div class="form-group form-group-default text-center">
                                        <label>Hình ảnh loại sản phẩm</label><br />
                                        @if (!string.IsNullOrEmpty(Model.Image))
                                        {
                                            <img src="@Model.Image" alt="Ảnh loại sản phẩm" width="200" class="img-fluid">
                                        }
                                        else
                                        {
                                            <span class="form-control">Chưa thêm ảnh cho loại sản phẩm này</span>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="form-group form-group-default">
                                        <label>Seo Title</label>
                                        <textarea class="form-control">@Model.SeoTitle</textarea>
                                    </div>
                                    <div class="form-group form-group-default">
                                        <label>Seo Description</label>
                                        <textarea class="form-control">@Model.SeoDescription</textarea>
                                    </div>
                                    <div class="form-group form-group-default">
                                        <label>Seo Keywords</label>
                                        <textarea class="form-control">@Model.SeoKeywords</textarea>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group text-center">
                            <a href="/admin/productcategory/edit/@Model.MaLoaiSanPham" class="btn btn-primary">Vào trang chỉnh sửa</a>
                            <a href="@Url.Action("Index", "ProductCategory")" class="btn btn-danger">Quay lại</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
