@model IEnumerable<MEGATECH.Models.EF.ChucVu>
@{
    ViewBag.Title = "Danh mục chức vụ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .custom-textbox {
        height: 50px;
        border: 2px solid #0094ff
    }
</style>

<!-- Main content -->
<div class="content">
    <div class="page-inner">
        <div class="page-header">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="page-title">Danh sách chức vụ</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <ul class="breadcrumbs">
                            <li class="nav-home">
                                <a href="@Url.Action("Index", "Home")">
                                    <i class="flaticon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "ChucVu")">Danh mục chức vụ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-tools">
                                <a href="@Url.Action("Create", "ChucVu")" class="btn btn-rounded btn-primary">Thêm mới</a>
                                <a href="#" class="btn btn-rounded btn-warning" id="BtnTrashAll">Đưa nhiều vào thùng rác</a>
                            </div>
                        </div>
                        <div class="col-md-5">
                            @using (Html.BeginForm("Index", "ChucVu", FormMethod.Get, new { }))
                            {
                                <div class="input-group input-group-sm">

                                    <input type="text" name="Searchtext" class="form-control custom-textbox" placeholder="Nhập tên chức vụ bạn muốn tìm kiếm">
                                    <span class="input-group-append">
                                        <button type="submit" class="btn btn-info btn-flat">Tìm kiếm</button>
                                    </span>
                                </div>
                            }
                        </div>
                        <div class="col-md-3">
                            <div class="card-tools text-right">
                                <a href="#" class="btn btn-rounded btn-success" id="export">
                                    <i class="fas fa-file-excel" style="font-size: 15px;"></i> Xuất file Excel
                                </a>
                                <a href="@Url.Action("Trash", "ChucVu")" class="btn btn-rounded btn-danger"><i class="fa fa-trash" style="font-size: 15px;"></i> Thùng rác</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="message-container">
                        @*Hiển thị dòng thông báo*@
                        @Html.Partial("Message")
                    </div>
                    <div class="table-responsive">
                        <table id="multi-filter-select" class="display table table-striped table-hover table-bordered tableChucVu">
                            <thead>
                                <tr class="text-center">
                                    <th><input type="checkbox" id="SelectAll" /></th>
                                    <th>#</th>
                                    <th>Tên chức vụ</th>
                                    <th>Số lượng nhân viên</th>
                                    <th width="200">Mô tả</th>
                                    <th>Ngày tạo</th>
                                    <th>Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    var i = 1;
                                    foreach (var item in Model)
                                    {
                                        <tr id="trow_@item.ID">
                                            <td class="text-center"><input type="checkbox" class="cbkItem" value="@item.ID" /></td>
                                            <td class="text-center">@i</td>
                                            <td class="text-center">@item.TenChucVu</td>
                                            <td class="text-center">
                                                @* Hiển thị số lượng nhân viên của mỗi chức vụ *@
                                                <span>@item.NhanVien.Count()</span>
                                            </td>
                                            @if (item.MoTa == null)
                                            {
                                                <td class="text-center">Chưa thêm mô tả</td>
                                            }
                                            else
                                            {
                                                <td class="text-center">@item.MoTa</td>
                                            }
                                            <td class="text-center">@item.CreatedDate.ToString("dd'/'MM'/'yyyy")</td>
                                            <td class="text-center">
                                                <a href="/admin/ChucVu/phanquyen/@item.ID" class="btn btn-xs btn-success text-white"><i class="fa-solid fa-shield-alt"></i></a>
                                                <a href="/admin/ChucVu/detail/@item.ID" class="btn btn-xs btn-warning text-white"><i class="fa-solid fa-circle-info"></i></a>
                                                <a href="/admin/ChucVu/edit/@item.ID" class="btn btn-xs btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                                                @*<a href="#" data-id="@item.Id" class="btn btn-xs btn-danger btnDelete"><i class="fa-solid fa-trash-can"></i></a>*@
                                                <a href="/admin/ChucVu/GoToTrash/@item.ID" class="btn btn-xs btn-danger"><i class="fa-solid fa-trash-can"></i></a>
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.content -->

@section scripts{

    <script src="~/Content/export/xlsx.full.min.js"></script>
    <script>
    $(document).ready(function () {

        $('#export').click(function () {
            // Clone the table to prevent modification of the original table
            var tableClone = $('.tableChucVu').clone();

            // Remove the "Chức năng" column from the cloned table
            tableClone.find('th:nth-child(7), td:nth-child(7)').remove();

            // Create a workbook and add a worksheet
            var wb = XLSX.utils.book_new();
            var ws = XLSX.utils.table_to_sheet(tableClone[0]);

            // Adjust column widths
            var colWidths = [];
            tableClone.find('tr').eq(0).find('th').each(function () {
                colWidths.push($(this).width() / 8); // Divide by 8 to approximate width adjustment for Excel
            });
            ws['!cols'] = colWidths.map(function (width) { return { width: width }; });
            // Add worksheet to workbook
            XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');

            // Save workbook as Excel file
            XLSX.writeFile(wb, 'Danh sách chức vụ MEGATECH.xlsx');
        });

        $('body').on('click', '#BtnTrashAll', function (e) {
            e.preventDefault();

            var checkbox = $(this).parents('.card').find('tr td input:checkbox');
            var checkedCheckbox = checkbox.filter(':checked');

            // Kiểm tra xem có checkbox nào được chọn không
            if (checkedCheckbox.length === 0) {
                // Hiển thị cảnh báo
                alert('Bạn cần phải tích vào Checkbox của ít nhất một danh mục để sử dụng chức năng này!');
                return;
            }

            var str = "";
            var i = 0;
            checkbox.each(function () {
                if (this.checked) {
                    var _id = $(this).val();
                    if (i === 0) {
                        str += _id;
                    } else {
                        str += "," + _id;
                    }
                    i++;
                } else {
                    checkbox.attr('selected', '');
                }
            });
            if (str.length > 0) {
                var conf = confirm('Bạn có muốn đưa các bản ghi này vào thùng rác hay không?');
                if (conf === true) {
                    $.ajax({
                        url: '@Url.Action("GoToTrashAll", "ChucVu")',
                        type: 'POST',
                        data: { ids: str },
                        success: function (rs) {
                            if (rs.success) {
                                location.reload();
                            }
                        }
                    });
                }
            }
        });
        $('body').on('change', '#SelectAll', function () {
            var checkStatus = this.checked;
            var checkbox = $(this).parents('.card-body').find('tr td input:checkbox');
            checkbox.each(function () {
                this.checked = checkStatus;
                if (this.checked) {
                    checkbox.attr('selected', 'checked');
                } else {
                    checkbox.attr('selected', '');
                }
            });
        });
        $('body').on('click', '.btnActive', function (e) {
            e.preventDefault();
            var btn = $(this);
            var id = btn.data("id");
            $.ajax({
                url: '@Url.Action("IsActive", "ChucVu")',
                type: 'POST',
                data: { id: id },
                success: function (rs) {
                    if (rs.success) {
                        if (rs.isActive) {
                            btn.html("<i class='fa-solid fa-eye' style='color: #00cc8f;'></i>");
                            location.reload();
                        } else {
                            btn.html("<i class='fa-solid fa-eye-slash' style='color: #ff0000;'></i>");
                            location.reload();
                        }
                    }

                }
            });
        });
        // Hàm để ẩn thông báo sau 5 giây
        function hideMessage() {
            $('.message-container').fadeOut(); // Ẩn thông báo
        }

        // Nếu có thông báo, thiết lập timeout để tự động ẩn sau 5 giây
        if ($('.message-container').length) {
            setTimeout(hideMessage, 5000); // 5000 milliseconds = 5 seconds
        }
    });

    </script>
}

