@model IEnumerable<MEGATECH.Models.EF.ChucVu>
@{
    ViewBag.Title = "Thùng rác chức vụ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Main content -->
<div class="content">
    <div class="page-inner">
        <div class="page-header">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="page-title">Thùng rác chức vụ</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <ul class="breadcrumbs">
                            <li class="nav-home">
                                <a href="@Url.Action("Index", "ChucVu")">
                                    <i class="flaticon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "ChucVu")">Danh mục chức vụ</a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Trash", "ChucVu")">Thùng rác chức vụ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card-tools">
                                <a href="#" class="btn btn-rounded btn-info" id="BtnUndoAll">Phục hồi nhiều</a>
                                <a href="#" class="btn btn-rounded btn-danger" id="BtnDeleteAll">Xoá nhiều</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-tools text-right">
                                <a href="@Url.Action("Index", "ChucVu")" class="btn btn-rounded btn-secondary"><i class="fas fa-reply" style="font-size: 15px"></i> Quay lại</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="message-container">
                        @*Hiển thị dòng thông báo*@
                        @Html.Partial("Message")
                    </div>
                    <div class="table-responsive">
                        <table id="multi-filter-select" class="display table table-striped table-hover table-bordered">
                            <thead>
                                <tr class="text-center">
                                    <th><input type="checkbox" id="SelectAll" /></th>
                                    <th>#</th>
                                    <th>Tên chức vụ</th>
                                    <th>Số lượng nhân viên</th>
                                    <th width="200">Mô tả</th>
                                    <th>Ngày tạo</th>
                                    <th>Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    var i = 1;
                                    foreach (var item in Model)
                                    {
                                        <tr id="trow_@item.ID">
                                            <td class="text-center"><input type="checkbox" class="cbkItem" value="@item.ID" /></td>
                                            <td class="text-center">@i</td>
                                            <td class="text-center">@item.TenChucVu</td>
                                            <td class="text-center">
                                                @* Hiển thị số lượng nhân viên của mỗi chức vụ *@
                                                <span>@item.NhanVien.Count()</span>
                                            </td>
                                            @if (item.MoTa == null)
                                            {
                                                <td class="text-center">Chưa thêm mô tả</td>
                                            }
                                            else
                                            {
                                                <td class="text-center">@item.MoTa</td>
                                            }
                                            <td class="text-center">@item.CreatedDate</td>
                                            <td class="text-center">
                                                <a href="/admin/ChucVu/undo/@item.ID" class="btn btn-xs btn-warning text-white"><i class="fa-solid fa-undo"></i></a>
                                                <a href="#" data-id="@item.ID" class="btn btn-xs btn-danger btnDelete"><i class="fa-solid fa-trash-can"></i></a>
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.content -->
<!-- /.content -->
@section scripts{
    <script>
    $(document).ready(function () {
        $('body').on('click', '.btnDelete', function () {
            var id = $(this).data("id");
            var conf = confirm('Bạn có muốn xóa bản ghi này không?');
            if (conf === true) {
                $.ajax({
                    url: '@Url.Action("Delete", "ChucVu")',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            $('#trow_' + id).remove();
                            location.reload();
                        }
                    }
                });
            }
        });

        $('body').on('click', '#BtnDeleteAll', function (e) {
            e.preventDefault();

            var checkbox = $(this).parents('.card').find('tr td input:checkbox');
            var checkedCheckbox = checkbox.filter(':checked');

            // Kiểm tra xem có checkbox nào được chọn không
            if (checkedCheckbox.length === 0) {
                // Hiển thị cảnh báo
                alert('Bạn cần phải tích vào Checkbox của ít nhất một danh mục để sử dụng chức năng này!');
                return;
            }

            var str = "";
            var i = 0;
            checkbox.each(function () {
                if (this.checked) {
                    var _id = $(this).val();
                    if (i === 0) {
                        str += _id;
                    } else {
                        str += "," + _id;
                    }
                    i++;
                } else {
                    checkbox.attr('selected', '');
                }
            });
            if (str.length > 0) {
                var conf = confirm('Bạn có muốn xóa các bản ghi này hay không?');
                if (conf === true) {
                    $.ajax({
                        url: '@Url.Action("DeleteAll", "ChucVu")',
                        type: 'POST',
                        data: { ids: str },
                        success: function (rs) {
                            if (rs.success) {
                                location.reload();
                            }
                        }
                    });
                }
            }
        });

        $('body').on('click', '#BtnUndoAll', function (e) {
            e.preventDefault();

            var checkbox = $(this).parents('.card').find('tr td input:checkbox');
            var checkedCheckbox = checkbox.filter(':checked');

            // Kiểm tra xem có checkbox nào được chọn không
            if (checkedCheckbox.length === 0) {
                // Hiển thị cảnh báo
                alert('Bạn cần phải tích vào Checkbox của ít nhất một danh mục để sử dụng chức năng này!');
                return;
            }

            var str = "";
            var i = 0;
            checkbox.each(function () {
                if (this.checked) {
                    var _id = $(this).val();
                    if (i === 0) {
                        str += _id;
                    } else {
                        str += "," + _id;
                    }
                    i++;
                } else {
                    checkbox.attr('selected', '');
                }
            });
            if (str.length > 0) {
                var conf = confirm('Bạn có muốn phục hồi các bản ghi này hay không?');
                if (conf === true) {
                    $.ajax({
                        url: '@Url.Action("UndoAll", "ChucVu")',
                        type: 'POST',
                        data: { ids: str },
                        success: function (rs) {
                            if (rs.success) {
                                location.reload();
                            }
                        }
                    });
                }
            }
        });
        $('body').on('change', '#SelectAll', function () {
            var checkStatus = this.checked;
            var checkbox = $(this).parents('.card-body').find('tr td input:checkbox');
            checkbox.each(function () {
                this.checked = checkStatus;
                if (this.checked) {
                    checkbox.attr('selected', 'checked');
                } else {
                    checkbox.attr('selected', '');
                }
            });
        });
        // Hàm để ẩn thông báo sau 5 giây
        function hideMessage() {
            $('.message-container').fadeOut(); // Ẩn thông báo
        }

        // Nếu có thông báo, thiết lập timeout để tự động ẩn sau 5 giây
        if ($('.message-container').length) {
            setTimeout(hideMessage, 5000); // 5000 milliseconds = 5 seconds
        }
    });

    </script>
}
